.body {
    display: block;
    margin: 8px;
}
.navigation {
    height: 140px;
}
.block-element {
    display: flex;
    vertical-align: top;
    padding: 20px;
    flex-direction: row;
    }
/*li {
    justify-content: space-between;
    padding: 15px;
    list-style-type: none;
    align-items: right;
    display: inline-flex;
    justify-content: space-between;
    padding: 30px 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #31373E;   
    }*/
a {
    color: black; 
    }
.logo {
    width: 30%;
    float: left;
}
/*.navigation li{
    float: right;
    display: inline-flex;
    justify-content: space-between;
    padding: 30px 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #31373E;
   }*/
/* .nav {
    width: 60%;
    float: right;
}*/
.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*align-items: right;*/
    padding: 0px;
    background-color: white;
    text-align: right;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    }
.navItem {
    display: inline-flex;
    float: right;
    justify-content: space-between;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #31373E;
}
.navItem:hover {
        border-bottom: 2px solid #FFD600;
        }
.heroImg {
    position: relative;
    width: 499px;
    height: 713px;
    /*left: 120px;
    top: 214px;*/
    display: flex;
    flex-direction: row;
    }
.content {
    position: absolute;
    width: 499px;
    height: 450px;
    left: 250px;
    top: 80px;
    }
 .content-1 {
    position: absolute;
    width: 485px;
    height: 407px;
    left: 900px;
    top: 171px;
     }           
.yellow {
    width: 200px;
    height: 60px;
    left: 20px;
    top: 20px;
    background: #FFD600;
    border-color: #FFD600;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
}
.yellow:hover {
  color: #6D6D6D;
  }

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #31373E;
    }
p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #31373E;
    }

.footer {
    display:flex;
    position: absolute;
    width: 1440px;
    height: 165px;
    left: 0px;
    top: 3058px;
}
footer li {
    display: inline-flex;
    justify-content: space-between;
    padding: 30px 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #31373E;
}
.mySkills{
    text-align: center;
    margin: 50px;
}
.skillsgroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #31373E;
    text-align: center;
}
.skillsItem{
    padding: 0px 100px;
}
h3{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 140.62%;
/* or 51px */
}
.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px;
    text-align: center;
}
.projectsItems{
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
    text-align: left;
}
.black{
    background-color: black;
    width: 200px;
    height: 60px;
    left: 20px;
    top: 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: white;
}
.black:hover {
    color: #FFD600;
    }
.textGroup{
        padding: 0px 30px 30px 30px;
    }
.orange {
    background: #FF8A00;
    color: white;
}
.turquoise{
    background: #37BAB8;
    color: white;
}
.blue1{
    background: #009BF7;
    color: white;
}
.blue2{
    background: #0037A0;
    color: white;
}
h4{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 140.62%;
/* identical to box height, or 34px */
}

@media screen and (max-width: 600){
   .heroImg{
        flex-direction: column; 
    }
    .skillsgoup{
        grid-template-columns: 1fr;
        grid-auto-flow: column;
    }
    .projectsItems{
        flex-direction: column;
    }
    }